@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@layer base {
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }
    
    html{
        background: linear-gradient(to bottom, #0f172a, #0a0b10);
        color:white;
        font-family: "Poppins";
    }

    /* Navigation Bar Component Styling*/
    .navigation-bar{
        @apply flex items-center justify-between gap-8 sm:px-16 h-20;
        p{
            @apply font-semibold text-base ml-5 sm:mx-0 sm:text-2xl 2xl:text-3xl;
            span{
                @apply text-yellow-400;
            }
        }
        div{
            @apply flex items-center gap-6 h-6 font-medium;
            button{
                @apply text-sm px-4 cursor-pointer 2xl:text-2xl;
            }
            .sign-up{
                @apply border-2 border-white rounded-2xl px-5 py-0.5 mr-2 sm:mx-auto transition duration-300 hover:bg-white hover:text-gray-950 hover:border-gray-950;
            }
        }
    }

    /* Main Banner Section (Hero) Component Styling */
    .hero{
        @apply flex items-center justify-center;
        img{
            @apply brightness-70 md:rounded-4xl max-w-full sm:w-3xl lg:w-4xl xl:w-7xl 2xl:w-full;
        }
        div {
            @apply z-10 absolute lg:top-55 xl:top-70 2xl:top-70;
                span{
                    @apply flex flex-col items-center px-10 sm:px-20;
                    h1,h2{
                        @apply lg:px-30 text-center;
                    }
                    h1{
                        @apply font-extrabold  xl:text-5xl xl:py-6
                        lg:py-2 sm:px-10
                        sm:text-3xl sm:py-1
                        2xl:text-8xl 2xl:py-12;
                    }
                    h2{
                        @apply font-light text-xs pt-5 pb-3.5 xl:text-2xl xl:py-3 lg:py-5
                        sm:text-xl sm:py-7
                        2xl:text-5xl 2xl:py-6;
                    }
                    button{
                        @apply bg-yellow-400 text-gray-950 text-sm px-5 py-1 rounded-2xl border-2  border-black cursor-pointer hover:bg-yellow-500
                        sm:px-10 sm:py-2 sm:text-base xl:px-10 xl:py-3 xl:text-xl sm:font-medium sm:border-4 2xl:px-20 2xl:py-6 2xl:text-4xl 2xl:font-extrabold;
                    }
            }
        }
    }

    /* Home Page Now showing Section Styling */
    .home-now-showing{
        @apply flex flex-col gap-10 py-15;
        h1{
            @apply p-0 text-center text-xl font-bold lg:pl-30 lg:text-left sm:text-3xl lg:text-4xl 2xl:text-6xl;
        }
        div{
            @apply grid mx-auto grid-cols-2 xl:gap-10 lg:grid-cols-4 lg:gap-3 sm:grid-cols-2;
            span{
                @apply flex flex-col items-center py-7 gap-5 lg:py-0 sm:py-5;
                img{
                    @apply rounded-3xl w-35 xl:w-62 sm:w-52 2xl:w-75;
                }
                h5{
                    @apply text-center font-medium text-xs xl:text-sm lg:text-xs sm:text-base 2xl:text-2xl;
                }
            }
        }
    }

    /* Home page FAQ Section Styling */
    .home-faq{
        @apply flex flex-col gap-10 py-15;
        h1{
            @apply p-0 text-center text-xl font-bold lg:pl-30 lg:text-left sm:text-3xl lg:text-4xl 2xl:text-6xl;
        }
        .question{
            @apply flex flex-col items-center gap-8;
            span{
                @apply flex flex-col gap-2.5;
                div{
                    @apply flex items-center justify-between;
                }
                div, p{
                    @apply bg-gray-800 w-80 px-5 sm:px-10 py-8 rounded font-medium text-sm sm:text-base xl:w-6xl lg:w-4xl sm:w-2xl 2xl:w-lvh 2xl:text-2xl;
                }
            }
        }
    }
}